{% if not (frappe.local.form_dict.txt) %}
<div class="container">
	<div class="row hero" style="border-bottom: none; margin-top: 0px; padding-bottom: 35px;">
	    <div class="col-sm-12">
	        <img class="erp-hero" src="/assets/frappe_theme/img/developers-training.svg" style="width: 200px;">
	    </div>
	    <div class="col-sm-12 hero-content" style="margin-top: -30px;">
	        <h1>ERPNext Knowledge Base</h1>
	        <p>A list of how tos and best practices for users</p>
	    </div>
	</div>
</div>
{% endif %}
