<!doctype html>
 
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Open Data Project</title>
	<link rel="stylesheet" href="css/all-web.css" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="lib/js/lib/slickgrid/slick.grid.css" />
	<link rel="stylesheet" href="lib/js/lib/slickgrid/slick-default-theme.css" />
	<link rel="stylesheet" href="app/css/chart-builder.css" />

	<script type="text/javascript" src="lib/js/lib/jquery/jquery.min.js"></script>
	<script src="js/all-web.min.js"></script>
	<script src="lib/js/lib/slickgrid/jquery.event.drag.js"></script>
	<script src="lib/js/lib/slickgrid/slick.core.js"></script>
	<script src="lib/js/lib/slickgrid/slick.dataview.js"></script>
	<script src="lib/js/lib/slickgrid/slick.grid.js"></script>
	<script src="lib/js/lib/slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
	<script src="lib/js/lib/slickgrid/plugins/slick.cellcopymanager.js"></script>
	<script src="lib/js/lib/slickgrid/plugins/slick.cellrangedecorator.js"></script>
	<script src="lib/js/lib/slickgrid/plugins/slick.cellrangeselector.js"></script>
	<script src="lib/js/lib/slickgrid/plugins/slick.cellselectionmodel.js"></script>
	<script src="lib/js/lib/slickgrid/plugins/slick.rowselectionmodel.js"></script>
	<script src="lib/js/lib/slickgrid/slick.editors.js"></script>
	<script src="lib/js/wn/class.js"></script>
	<script src="app/js/chart.min.js"></script>
	<script src="app/js/csv-to-array.js"></script>
	<script src="app/js/chart-builder.js"></script>
	<script src="app/js/data-set-view.js"></script>
	{% block javascript %}{% endblock %}
	{% block style %}{% endblock %}
	
	<style>
		body {
			font-family: Montserrat, sans-serif;
		}
		
		h1, h2, h3, h4, h5, h6 {
			font-family: Open Sans, sans-serif;
		}
		
		h1 {
			letter-spacing: -1px;
		}
	</style>
	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">	
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			<a class="navbar-brand" href="#home"><i class="icon-home"></i> OpenDataProject.in</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<p class="navbar-text" id="navbar-help" data-for-list=1>Click on Data Set to View</p>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="#" id="chart-builder-edit" data-for-chart=1>
					<i class="icon-bar-chart"></i> Edit</a></li>
				<li><a href="#" id="dataset-help" data-for-chart=1>
					<i class="icon-question-sign"></i> Help</a></li>
				<li><a href="#" id="dataset-discuss" data-for-chart=1>
					<i class="icon-comments"></i> Discuss</a></li>
				<li><a href="#" id="dataset-download" data-for-chart=1>
					<i class="icon-download"></i> Download</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a href="#" id="navbar-rating" data-for-chart=1>
					<i class="icon-star" data-rating=1></i>
					<i class="icon-star" data-rating=2></i>
					<i class="icon-star" data-rating=3></i>
					<i class="icon-star" data-rating=4></i>
					<i class="icon-star-half-empty" data-rating=5></i>
					</a></li>
				<li><a href="help">About</a></li>
			</ul>
		</div>
	</nav>
	<div style="height: 10px; margin-top: -21px;">
		<div class="col-xs-4" style="height: 100%; background-color: #A30008"></div>
		<div class="col-xs-4" style="height: 100%; background-color: #FFA700"></div>
		<div class="col-xs-4" style="height: 100%; background-color: #009D91"></div>
	</div>
	{% block content %}{% endblock %}
</body>
</html>
