{% block header %}
<div class="overlay">
	<h1><i class="icon-bolt"></i> Take Full Control of your Organization</h1>
	<h3>Open Source ERP Built For The Web</h3>
</div>
<img src="/assets/erpnext_org/images/coverdesk.png" style="margin-bottom: -250px; margin-top: 15px">
{% endblock %}

{% block content %}
<!-- no-sidebar -->
<!-- title: Open Source ERP Built For the Web -->
<div class="spacer" style="height: 160px"></div>
<br>
<div style="max-width: 500px; margin: 0px auto">
	<h3><i class="icon-heart"></i> Loved by Users</h3>
	<p>People who use ERPNext, swear by it. No fancy sales people, no glitzy presentations, but finally a software for SMBs that just works at prices that you can afford. Sample what our users are saying, "ERPNext has many innovative features that many more expensive ERP systems do not have. If companies that use SAP or Oracle had the usability of ERPNext, their users would have thought they had died and gone to heaven."
	</p>
	<div>
		<br>
		<h4>Hear It From the Community</h4>
		<iframe width="500" height="281" src="//www.youtube.com/embed/3JjxYY6I7yY"
			frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="small">
		<a href="/conf/videos#user">Watch more User Videos</a> |
		<a href="/stories">Read User Stories</a> |
		<a href="/testimonials">Read Testimonials</a>
	</p>
	<br>
	<h3><i class="icon-th"></i> All in One</h3>
	<p>ERPNext covers most functionality required to run a small or medium sized business in <b>Manufacturing, Retail, Distribution or Services</b> including Financial Accounting, Inventory, CRM and Sales, Purchasing, Human Resource, Projects and a lot more. <a href="/user-guide">Read the user guide for full details</a>
	</p>

	<br>
	<h3><i class="icon-code-fork"></i> Open Source</h3>
	<p>With ERPNext you have "full freedom" to do what you want with it. You can host it on your own and customize it to your requirements. ERPNext is built on a powerful web application framework based on Python and Javascript, Frappe. With Frappe, you can easily extend ERPNext by using the API or creating fully featured extensions (called apps) implementing custom functionality for your business.
		<br>Did we mention its all free?
	</p>

</div>
<br>
<div class="text-center">
	<a href="https://demo.frappecloud.com" class="btn btn-success btn-lg">Play with the Demo</a>
	<a href="/use" class="btn btn-success btn-lg">Start Now</a>
</div>
<br>
<br>
<p class="text-center">
	<a class="text-muted"  href="http://www.infoworld.com/slideshow/119652/bossie-awards-2013-the-best-open-source-applications-226975#slide15" target="_blank">
	</i> Winner of the 2013 BOSSIE (Best Open Source Software) Award <br>by InfoWorld Magazine</a></p>
<br>

{% endblock %}

{% block style %}
<style>
.page-header {
	padding: 80px 0px;
	text-align: center;
}
</style>
{% endblock %}
