.frappe-coverage .media-object {
	width: 150px;
}

.frappe-coverage {
	border-bottom: 1px solid #d1d8dd;
	padding: 15px;
	margin: 15px -15px;
}

.frappe-coverage:last-child {
	border-bottom: none;
}

#page-story .page-content-wrapper,
#page-jobs .page-content-wrapper {
	max-width: 660px;
	margin: auto;
}

.team-description img {
	border-radius: 3px;
	width: 100%;
	max-width: 300px;
}

@media (max-width: 767px) {
	.contact .address {
		padding-top: 70px;
	}

	.team-description .tiny-content {
		margin-bottom: 80px;
	}
}

